@import "reset"; // CSS Reset
@import "foundation"; // Convenient, ready-made Mixins for LESS
@import "typography"; // Sensible Typography Defaults


/* !LESS Variables  */
/* --------------------------------------------- */

//--- Typgraphy
@heading: Helvetica, "Helvetica Neue", Arial, sans-serif;
@paragraph: "Helvetica Neue", Arial, Helvetica, sans-serif;

//--- Misc.
@page-width: 960px;
@default-radius: 2px;
@default-shadow: 0 0 5px rgba(0,0,0,.6);
//@default-stripe-width: 33px;
//@default-margin: 20px;
//@default-padding: 20px;


/* !MORE OF YOUR STYLES BELOW  */
/* --------------------------------------------- */
