@import "reset"; // CSS Reset
@import "foundation"; // Convenient, ready-made Mixins for LESS
@import "typography"; // Sensible Typography Defaults


/* !LESS Variables  */
/* --------------------------------------------- */

//--- Foundation.less defaults.
@default-radius: 2px; // req. for border radii
@default-shadow: 0 0 5px rgba(0,0,0,.6); // req. for box shadows
@default-stripe-width: 33px; // req. for stripe patterns

//--- Typgraphy
@heading: Helvetica, "Helvetica Neue", Arial, sans-serif;
@paragraph: "Helvetica Neue", Arial, Helvetica, sans-serif;

//--- Misc.
@baseline: 20px;
@default-margin: @baseline;
@default-padding: @baseline;
@page-width: 960px;


/* !MORE OF YOUR STYLES BELOW  */
/* --------------------------------------------- */
